@font-face {
    font-family: "Lemon Tuesday";
    src: url(Lemon\ Tuesday.woff) format("woff"),
    url(Lemon\ Tuesday.otf)  format("truetype");

}
@font-face {
    font-family: "Sunday Orange";
    src: url(Sunday\ Orange.woff) format("woff"),
    url(Sunday\ Orange.ttf)  format("truetype");

}

@font-face {
    font-family: "Oswald";
    src: url(Oswald.woff) format("woff"),
    url(Oswald.ttf)  format("truetype");

}

@font-face {
    font-family: "Grandesign";
    src: url(Grandesign\ Neue\ Serif.woff) format("woff"),
    url(Grandesign\ Neue\ Serif.ttf)  format("truetype");

}

h2{
    font-family: "Lemon Tuesday", Helvetica, Arial, sans-serif;font-size: 17px;
}

p {
    font-family: Grandesign; 
    font-size: 18px; 
    line-height: 1.8;
}

.blue-row {
    background-color: #090088;
    height: 70px;
    width: 100%;
    position: fixed;
    
}
.usability_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; 
    font-family: Oswald; 
    font-size: 40px;
    padding: 60px; 
    color: #090088
}

.task_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    font-family: Oswald; 
    font-size: 40px;
    color: #090088
}

.task_info {
    padding:25px;  
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-family: Grandesign; 
    font-size: 18px; 
    line-height: 1.8;
}
    
hr {
    /* color: #090088; */
    border: 1px solid #090088;
}

.col-md-3.col-lg-4 img {
    padding: 10px; 
}

.row-1{
    height: 90px;
}

/* css */
